body{
	margin: 0px;
	padding: 0px;
}

#TopBar{
	height: 12vh;
	/*height: auto;*/
	padding-left: 15px;
	padding-top: 5px;
	border-radius: 25px;
	width: 100%;
	color: white;
	background-color: blue;
}

#BotBar{
	height: 10vh;
	width: 100%;
	border-radius: 25px;
	text-align: center;
	color: white;
	background-color: blue;
	margin-top: 5px;
}

#GameArea{
	height: 20vh;
	width: 100%;

}

.UnlockButton{
	width: 100%;
}

.HiddenElement{
	display: none;
}


.TabBox{
	padding-top: 5px;
	height: 50vh;
	width: 100%;

}
.GenericProgressBarDiv{
	height: 50px;
}
.GenericProgressBar{
	background-color: blue;
}

#MineProgressBar{
	background-color: red;
}
#ForgeProgressBar{
	background-color: red;
}
#ComponentsProgressBar{
	background-color: red;
}
#ComputersProgressBar{
	background-color: red;
}
#ProgressBar{
	
}



#MineBtnDiv{
	padding: 3px;
}
.UpgradeWorkBtns{
	height: 7vh;
	font-size: 1vw;

}


